@page
@model RentRazor.Pages.AddPagesModel
@{
}

<div>
    <h1>Добавить недвижимость</h1>

    <form method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AddressOfProperty.Adress" class="control-label"></label>
            <input asp-for="AddressOfProperty.Adress" class="form-control" />
            <span asp-validation-for="AddressOfProperty.Adress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AddressOfProperty.FloorNumber" class="control-label"></label>
            <input asp-for="AddressOfProperty.FloorNumber" class="form-control" />
            <span asp-validation-for="AddressOfProperty.FloorNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AddressOfProperty.ApartmentNumber" class="control-label"></label>
            <input asp-for="AddressOfProperty.ApartmentNumber" class="form-control" />
            <span asp-validation-for="AddressOfProperty.ApartmentNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Property.PropertyType" class="control-label"></label>
            <select asp-for="Property.PropertyType" class ="form-control" asp-items="ViewBag.PropertyType"></select>
        </div>
        <div class="form-group">
            <label asp-for="Property.TelephoneNumber" class="control-label"></label>
            <input asp-for="Property.TelephoneNumber" class="form-control" />
            <span asp-validation-for="Property.TelephoneNumber" class="text-danger"></span>
        </div>

        <div class="row py-4">
            <div class="col-lg-6 mx-auto">

                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input asp-for="ImagePath" id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                    </div>
                </div>

                <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
             </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    
    <div>
        <a asp-page="Index">Back to List</a>
    </div>

</div>